<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itschool_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Itschoolproject">
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".PlastActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntActivity"
            android:exported="false" />
        <activity
            android:name=".ChistoMapActivity"
            android:exported="false" />
        <activity
            android:name=".EcorMapActivity"
            android:exported="false" />
        <activity
            android:name=".BatActivity"
            android:exported="false" />
        <activity
            android:name=".EcorInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ChistoInfoActivity"
            android:exported="false" />
        <activity
            android:name=".MakInfoActivity"
            android:exported="false" />
        <activity
            android:name=".MetInfoActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".PlastInfoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>